trunk/mdcp/src/xml/st2071-2p.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Security"
    targetNamespace="http://www.smpte-ra.org/schemas/st2071/2014/security"
    xmlns:tns="http://www.smpte-ra.org/schemas/st2071/2014/security"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/">
    
    <wsdl:types>
        <xs:schema 
            targetNamespace="http://www.smpte-ra.org/schemas/st2071/2014/security" 
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
            
            <xs:include schemaLocation="file:///Users/Shared/DropBox/Dropbox/SMPTE/MDC/workspace/MDC/MDCF/src/main/xml/st2071-2i.xsd" />
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="MechanismsRequest">
        <wsdl:part name="getMechanisms" element="tns:getMechanisms" />
    </wsdl:message>
    
    <wsdl:message name="MechanismsResponse">
        <wsdl:part name="getMechanismsResponse" element="tns:getMechanismsResponse" />
    </wsdl:message>
    
    <wsdl:message name="authorizeRequest">
        <wsdl:part name="authorize" element="tns:authorize" />
    </wsdl:message>
    
    <wsdl:message name="authorizeResponse">
        <wsdl:part name="authorizeResponse" element="tns:authorizeResponse" />
    </wsdl:message>
    
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="authenticate" element="tns:authenticate" />
    </wsdl:message>
    
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="authenticateResponse" element="tns:authenticateResponse" />
    </wsdl:message>
    
    <wsdl:message name="logoutRequest">
        <wsdl:part name="logout" element="tns:logout" />
    </wsdl:message>
    
    <wsdl:message name="logoutResponse">
        <wsdl:part name="logoutResponse" element="tns:logoutResponse" />
    </wsdl:message>
    
    <wsdl:message name="SecurityExceptionFault">
        <wsdl:part name="SecurityExceptionFault" element="tns:SecurityException" />
    </wsdl:message>
    
    <wsdl:portType name="Authorizer">
        <wsdl:documentation>
            UCN = urn:smpte:ucn:org.smpte.st2071:authorizer_v1.0
        </wsdl:documentation>
        <wsdl:operation name="getMechanisms">
            <wsdl:input wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authorizer/Mechanisms" name="MechanismsRequest" message="tns:MechanismsRequest" />
            <wsdl:output wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authorizer/MechanismsResponse" name="MechanismsResponse" message="tns:MechanismsResponse" />
        </wsdl:operation>
        <wsdl:operation name="authorize">
            <wsdl:input wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authorizer/authorize" name="authorizeRequest" message="tns:authorizeRequest" />
            <wsdl:output wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authorizer/authorizeResponse" name="authorizeResponse" message="tns:authorizeResponse" />
            <wsdl:fault name="authorizeSecurityException" message="tns:SecurityExceptionFault" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:portType name="Authenticator">
        <wsdl:documentation>
            UCN = urn:smpte:ucn:org.smpte.st2071:authenticator_v1.0
        </wsdl:documentation>
        <wsdl:operation name="getMechanisms">
            <wsdl:input wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authenticator/Mechanisms" name="MechanismsRequest" message="tns:MechanismsRequest" />
            <wsdl:output wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authenticator/MechanismsResponse" name="MechanismsResponse" message="tns:MechanismsResponse" />
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <wsdl:input wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authorizer/authenticate" name="authenticateRequest" message="tns:authenticateRequest" />
            <wsdl:output wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authorizer/authenticateResponse" name="authenticateResponse" message="tns:authenticateResponse" />
            <wsdl:fault name="authenticateSecurityException" message="tns:SecurityExceptionFault" />
        </wsdl:operation>
        <wsdl:operation name="logout">
            <wsdl:input wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authorizer/logout" name="logoutRequest" message="tns:logoutRequest" />
            <wsdl:output wsam:Action="http://www.smpte-ra.org/wsdl/st2071/2014/security/Authorizer/logoutResponse" name="logoutResponse" message="tns:logoutResponse" />
            <wsdl:fault name="logoutSecurityException" message="tns:SecurityExceptionFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AuthorizerHTTPBinding" type="tns:Authorizer">
        <wsp:Policy xmlns:bp12="http://ws-i.org/profiles/basic-profile/1.2/" xmlns:wsp="http://www.w3.org/ns/ws-policy">
            <bp12:Conformant/>
        </wsp:Policy>
        <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getMechanisms">
            <soap11:operation soapAction="http://www.smpte-ra.org/schemas/st2071/2014/security/Authorizer/Mechanisms" style="document" />
            <wsdl:input name="MechanismsRequest"><soap11:body parts="getMechanisms" use="literal"/></wsdl:input>
            <wsdl:output name="MechanismsResponse"><soap11:body parts="getMechanismsResponse" use="literal"/></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorize">
            <soap11:operation soapAction="http://www.smpte-ra.org/schemas/st2071/2014/security/Authorizer/authorize" style="document" />
            <wsdl:input name="authorizeRequest"><soap11:body parts="authorize" use="literal"/></wsdl:input>
            <wsdl:output name="authorizeResponse"><soap11:body parts="authorizeResponse" use="literal"/></wsdl:output>
            <wsdl:fault name="authorizeSecurityException"><soap11:fault name="authorizeSecurityException" use="literal"/></wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:binding name="AuthenticatorHTTPBinding" type="tns:Authenticator">
        <wsp:Policy xmlns:bp12="http://ws-i.org/profiles/basic-profile/1.2/" xmlns:wsp="http://www.w3.org/ns/ws-policy">
            <bp12:Conformant/>
        </wsp:Policy>
        <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getMechanisms">
            <soap11:operation soapAction="http://www.smpte-ra.org/schemas/st2071/2014/security/Authenticator/Mechanisms" style="document" />
            <wsdl:input name="MechanismsRequest"><soap11:body parts="getMechanisms" use="literal"/></wsdl:input>
            <wsdl:output name="MechanismsResponse"><soap11:body parts="getMechanismsResponse" use="literal"/></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <soap11:operation soapAction="http://www.smpte-ra.org/schemas/st2071/2014/security/Authenticator/authenticate" style="document" />
            <wsdl:input name="authenticateRequest"><soap11:body parts="authenticate" use="literal"/></wsdl:input>
            <wsdl:output name="authenticateResponse"><soap11:body parts="authenticateResponse" use="literal"/></wsdl:output>
            <wsdl:fault name="authenticateSecurityException"><soap11:fault name="authenticateSecurityException" use="literal"/></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="logout">
            <soap11:operation soapAction="http://www.smpte-ra.org/schemas/st2071/2014/security/Authenticator/logout" style="document" />
            <wsdl:input name="logoutRequest"><soap11:body parts="logout" use="literal"/></wsdl:input>
            <wsdl:output name="logoutResponse"><soap11:body parts="logoutResponse" use="literal"/></wsdl:output>
            <wsdl:fault name="logoutSecurityException"><soap11:fault name="logoutSecurityException" use="literal"/></wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>